<div class="container">
        <div class="page-header">
            <h1>Cadastro de Despesas</h1>
        </div>
        <div class="container">
                <form class="form" id="despesasForm"
                      name="despesasFormCtrl.despesasForm" novalidate>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Mês</label>
                                <select class="form-control" ng-model="despesasFormCtrl.despesa.mes" ng-options='opcao.mes as opcao.nome for opcao in despesasFormCtrl.listaMeses'></select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Órgão</label>
                                <select class="form-control" ng-model="despesasFormCtrl.despesa.mes" ng-options='opcao.mes as opcao.nome for opcao in despesasFormCtrl.listaMeses'></select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Unidade</label>
                                <select class="form-control" ng-model="despesasFormCtrl.despesa.mes" ng-options='opcao.mes as opcao.nome for opcao in despesasFormCtrl.listaMeses'></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Categoria Econômica</label>
                                <select class="form-control" ng-model="despesasFormCtrl.despesa.mes" ng-options='opcao.mes as opcao.nome for opcao in despesasFormCtrl.listaMeses'></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Grupo Despesa</label>
                                <select class="form-control" ng-model="despesasFormCtrl.despesa.mes" ng-options='opcao.mes as opcao.nome for opcao in despesasFormCtrl.listaMeses'></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fonte de Recurso</label>
                                <select class="form-control" ng-model="despesasFormCtrl.despesa.mes" ng-options='opcao.mes as opcao.nome for opcao in despesasFormCtrl.listaMeses'></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Modalidade Aplicação</label>
                                <select class="form-control" ng-model="despesasFormCtrl.despesa.mes" ng-options='opcao.mes as opcao.nome for opcao in despesasFormCtrl.listaMeses'></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Modalidade Empenho</label>
                                <select class="form-control" ng-model="despesasFormCtrl.despesa.mes" ng-options='opcao.mes as opcao.nome for opcao in despesasFormCtrl.listaMeses'></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Modalidade Licitação</label>
                                <select class="form-control" ng-model="despesasFormCtrl.despesa.mes" ng-options='opcao.mes as opcao.nome for opcao in despesasFormCtrl.listaMeses'></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div class="form-group">
                                    <label>Credor</label>
                                    <select class="form-control" ng-model="despesasFormCtrl.despesa.mes" ng-options='opcao.mes as opcao.nome for opcao in despesasFormCtrl.listaMeses'></select>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valor Empenhado</label>
                                    <input type="text" class="form-control" maxlength="60" ng-model="despesasFormCtrl.valorEmpenhado" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valor Liquidado</label>
                                    <input type="text" class="form-control" maxlength="60" ng-model="despesasFormCtrl.valorEmpenhado" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valor Pago</label>
                                    <input type="text" class="form-control" maxlength="60" ng-model="despesasFormCtrl.valorEmpenhado" required>
                                </div>
                            </div>
                        </div>
                    <div class="text-right">
                        <button class="btn btn-default" ng-click="despesasFormCtrl.voltar()">Voltar</button>
                        <button class="btn btn-primary" ng-click="despesasFormCtrl.salvar()">Salvar</button>
                    </div>
                </form>
            </div>
    </div>    